#ifndef JJ_CONFIG
#define JJ_CONFIG

#define RGB(r, g, b) (u32)(b | (g << 8) | (r << 16) | (0xFF << 24)) 

#define WHITE_COLOR            RGB(0xFF, 0xFF, 0xFF)
#define BLACK_COLOR            RGB(0x00, 0x00, 0x00)
#define BLUEISH_COLOR          RGB(0x00, 0xDD, 0xEE)
#define YELLOWISH_COLOR        RGB(0xEE, 0xDD, 0x00)
#define MAGENTAISH_COLOR       RGB(0xEE, 0x00, 0xDD)
#define REDISH_COLOR           RGB(0xEE, 0x11, 0x11)
#define GREENISH_COLOR         RGB(0x11, 0xEE, 0x11)
#define ORANGISH_COLOR         RGB(0xD0, 0x8F, 0x20)

#define FUNCTION_COLOR         RGB(0x1E, 0x5E, 0xCB)
#define TYPE_COLOR             ORANGISH_COLOR
#define MACRO_COLOR            RGB(0xB2, 0x47, 0xF1)

#define BAR_COLOR              RGB(0x33, 0x33, 0x33)
#define LIST_COLOR             RGB(0x22, 0x22, 0x22)
#define HIGHLIGHT_COLOR        RGB(0x66, 0x66, 0x66)
#define FOREGROUND_COLOR       RGB(0xAA, 0xAA, 0xAA)
#define DATA_COLOR             RGB(0x46, 0xF1, 0xB2)
#define COMMENT_COLOR          RGB(0x7A, 0x7A, 0x7A)
#define COMMENT_TODO           REDISH_COLOR
#define COMMENT_NOTE           RGB(0xA1, 0x00, 0xA1)
#define COMMENT_IMPORTANT      RGB(0xF5, 0xF5, 0x00)
#define LINE_COLOR             RGB(0x24, 0x24, 0x00)
#define LINE_MARK_COLOR        RGB(0x48, 0x24, 0x00)
#define SCOPE_HIGHLIGHT_COLOR  RGB(0x00, 0x00, 0x24)
#define ERROR_HIGHLIGHT_COLOR  RGB(0x50, 0x11, 0x11)
#define RANGE_HIGHLIGHT_COLOR  RGB(0x24, 0x00, 0x00)
#define SEARCH_HIGHLIGHT_COLOR RGB(0x11, 0x11, 0x55)

#endif